/*-------------------------------------//
//  Header
//-------------------------------------*/

.footer {
  height: var(--footer-hight);
  padding: 10px;
  background-color: var(--base-site-color);
}
.footer__copy {
  color: #fff;
  font-size: var(--font-size-m);
  line-height: var(--font-size-m);
  text-align: center;
}
