/*-------------------------------------//
//  Header
//-------------------------------------*/

.header {
  height: var(--header-hight);
  padding: 10px;
  background-color: var(--base-site-color);
}
.header__title {
  color: #fff;
  font-size: var(--font-size-xl);
  line-height: var(--font-size-xl);
}
