/*-------------------------------------//
//  Main
//-------------------------------------*/

.container {
  display: flex;
  min-height: calc(100vh - var(--header-hight) - var(--footer-hight));
  padding: 20px;
}

.side { padding-right: 20px; }

.main { width: 100%; }
.main__top {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}
.main__top__cell {
  display: table-cell;
  vertical-align: middle;
}
.main__top__cell.is-left { text-align: left; }
.main__top__cell.is-right { text-align: right; }

.main__top__btns { font-size: 0; }
.main__top__btns > li { display: inline-block; }
.main__top__btns > li:not(:first-child) { margin-left: 10px; }

.main__top__length {
  font-size: var(--font-size-xl);
  line-height: 26px;
}
