/*-------------------------------------//
//  Btn
//-------------------------------------*/

.c-btn {
  display: inline-block;
  text-align: center;
}

.c-btn.c-btn--default {
  border: 1px solid var(--base-site-color);
  background-color: var(--base-site-color);
  color: #fff;
}
.c-btn.c-btn--default:hover {
  background-color: #fff;
  color: var(--base-site-color);
}

.c-btn.c-btn--alert {
  border: 1px solid var(--alert-color);
  background-color: var(--alert-color);
  color: #fff;
}
.c-btn.c-btn--alert:hover {
  background-color: #fff;
  color: var(--alert-color);
}

.c-btn.c-btn--small {
  padding: 5px;
  font-size: var(--font-size-s);
}
.c-btn.c-btn--middle {
  padding: 10px;
  font-size: var(--font-size-m);
}
