/*-------------------------------------//
//  Filter
//-------------------------------------*/

.c-filter {
  width: 200px;
  border: 1px solid $base-site-color;

  & > li:not(:first-child) { border-top: 1px solid $base-site-color; }
}
.c-filter__link {
  display: block;
  text-align: left;

  &:hover,
  &.is-active {
    background-color: $base-site-color;
    color: #fff;
  }
}
