/*-------------------------------------//
//  Input
//-------------------------------------*/

.c-input {
  display: inline-block;
  width: 100%;
  border: 1px solid #ccc;
}
.c-input.c-input--middle {
  padding: 10px 15px;
  font-size: $font-size-m;
}

.c-input--checkbox { cursor: pointer; }
.c-input--checkbox__check { display: none; }
.c-input--checkbox__txt {
  position: relative;
  display: inline-block;
  line-height: 24px;
  padding: 13px 10px 13px 40px;
}
.c-input--checkbox__txt:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 10px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.c-input--checkbox__check:checked + .c-input--checkbox__txt {
  color: #ccc;
  text-decoration: line-through;
}
.c-input--checkbox__check:checked + .c-input--checkbox__txt:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 13px;
  width: 20px;
  height: 8px;
  margin-top: -9px;
  border-bottom: 2px solid $base-site-color;
  border-left: 2px solid $base-site-color;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
