/*-------------------------------------//
//  Label
//-------------------------------------*/

.c-label {
  width: 200px;
  border: 1px solid var(--base-site-color);
}
.c-label > li:not(:first-child) { border-top: 1px solid var(--base-site-color); }

.c-label__link {
  display: block;
  text-align: left;
}
.c-label__link:hover,
.c-label__link.is-active {
  background-color: var(--base-site-color);
  color: #fff;
}
