/*-------------------------------------//
//  Operation
//-------------------------------------*/

.c-operation {
  font-size: 0;

  & > li {
    display: inline-block;

    &:not(:first-child) { margin-left: 10px; }
  }
}
