/*-------------------------------------//
//  Todo
//-------------------------------------*/

.c-todo__form { margin-bottom: 20px; }
.c-todo__list {
  &:not(:empty) { border: 1px solid $base-site-color; }

  & > li:not(:first-child) { border-top: 1px dashed $base-site-color; }
}
