/*-------------------------------------//
//  Todo
//-------------------------------------*/

.c-todo__input { margin-bottom: 20px; }
.c-todo__list { border: 1px solid var(--base-site-color); }
.c-todo__list > li {
  display: table;
  width: 100%;
}
.c-todo__list > li:not(:first-child) { border-top: 1px dashed var(--base-site-color); }
.c-todo__list__info {
  visibility: hidden;
  display: table-cell;
  width: 90px;
  padding: 10px;
  font-size: 0;
  vertical-align: middle;
}
.c-todo__list > li:hover .c-todo__list__info { visibility: visible; }
.c-todo__list__info > li { display: inline-block; }
.c-todo__list__info > li:not(:first-child) { margin-left: 10px; }


.c-todo__list__body {
  display: table-cell;
  vertical-align: middle;
}
.c-todo__list__info__icon {
  display: inline-block;
  height: 30px;
  padding: 2px;
  cursor: pointer;
}
.c-todo__list__info__icon:before {
  display: inline-block;
  width: 24px;
  height: 24px;
  content: "";
}

.c-todo__list__info__icon.is-pencil {
  border: 1px solid var(--base-site-color);
  background-color: var(--base-site-color);
}
.c-todo__list__info__icon.is-pencil:before { background-image: url(../../src/images/icon-pencil.png); }

.c-todo__list__info__icon.is-trash {
  border: 1px solid var(--alert-color);
  background-color: var(--alert-color);
}
.c-todo__list__info__icon.is-trash:before { background-image: url(../../src/images/icon-trash.png); }

.c-todo__list__info__icon:hover { background-color: #fff; }
.c-todo__list__info__icon.is-pencil:hover:before { background-image: url(../../src/images/icon-pencil-default.png); }
.c-todo__list__info__icon.is-trash:hover:before { background-image: url(../../src/images/icon-trash-alert.png); }
